---
import '../styles/global.css';
import MainLayout from '../layouts/MainLayout.astro';
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";

const RECENT_POST_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0]{_id, title, slug, publishedAt}`;

const recentPost = await sanityClient.fetch<SanityDocument>(RECENT_POST_QUERY);
---

<MainLayout content={{ title: 'Home' }}>
  <div class="grid place-items-center h-screen content-center">
    <section class="text-center">
      <h1 class="text-4xl font-bold mb-4">Welcome to Our Site</h1>
      <p class="text-lg mb-8">Discover insightful blog posts and explore our latest updates.</p>
    </section>

    {recentPost && (
      <section class="mt-8">
        <h2 class="text-2xl font-semibold">Most Recent Blog Post</h2>
        <a href={`/posts/${recentPost.slug.current}`} class="block mt-4 text-xl text-blue-500 hover:underline">
          {recentPost.title}
        </a>
        <p class="text-sm text-gray-600">Published: {new Date(recentPost.publishedAt).toLocaleDateString()}</p>
      </section>
    )}
  </div>
</MainLayout>
