---
import ScaleIcon from '@heroicons/react/24/solid/ScaleIcon';
import Bars3Icon from '@heroicons/react/24/solid/Bars3Icon';
import XMarkIcon from '@heroicons/react/24/solid/XMarkIcon';
import MagnifyingGlassIcon from '@heroicons/react/24/solid/MagnifyingGlassIcon';
import SunIcon from '@heroicons/react/24/solid/SunIcon';
import MoonIcon from '@heroicons/react/24/solid/MoonIcon';
---

<nav class="relative bg-white shadow dark:bg-gray-900"> 
  <div class="container max-w-screen-lg mx-auto px-6 py-3 md:flex">
      <div class="flex items-center justify-between">
          <a href="/" class="flex items-center">
              <ScaleIcon className="w-6 h-6 text-gray-700 dark:text-gray-200" />
              <span class="ml-2 text-lg font-semibold text-gray-700 dark:text-gray-200 whitespace-nowrap">Police Misconduct Law</span>
          </a>

          <!-- Mobile menu button -->
          <div class="flex lg:hidden">
              <button id="menu-toggle" type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                  <svg id="menu-open-icon" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                  </svg>
          
                  <svg id="menu-close-icon" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
              </button>
          </div>
      </div>

      <!-- Mobile Menu -->
      <div id="mobile-menu" class="absolute inset-x-0 z-20 w-full px-6 py-4 bg-white dark:bg-gray-900 md:mt-0 md:p-0 md:top-0 md:relative md:opacity-100 md:translate-x-0 md:flex md:items-center md:justify-between hidden">
          <div class="flex flex-col px-2 -mx-4 md:flex-row md:mx-10 md:py-0">
              <a href="/cases" class="px-2.5 py-2 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 md:mx-2">Cases</a>
              <a href="/posts" class="px-2.5 py-2 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 md:mx-2">Blog</a>
              <a href="/about" class="px-2.5 py-2 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 md:mx-2">About</a>
              <a href="/contact" class="px-2.5 py-2 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 md:mx-2">Contact</a>
          </div>

          <!-- Icons Section -->
          <div class="flex items-center justify-center mt-4 md:mt-0 space-x-4">
            <!-- Dark Mode/Light Mode Toggle -->
            <button id="theme-toggle" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none">
                <SunIcon id="light-mode-icon" className="w-6 h-6 hidden dark:block" />
                <MoonIcon id="dark-mode-icon" className="w-6 h-6 block dark:hidden" />
            </button>

            <!-- Magnifying Glass Icon -->
            <MagnifyingGlassIcon className="w-6 h-6 text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 cursor-pointer" />
        </div>
      </div>
  </div>
</nav>

<script>
    import "../scripts/menuToggle.js";
</script>
<script>    
    import "../scripts/themeToggle.js";
</script>